@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Superbase!</h1>
    <h3> The worlds most accurate database of superheros for fans and concerened citizens!</h3>
    <h4>Brought to you by Wayne Enterprises and StarLabs</h4>
    <img src="~/img/Superman.jpg" class="img-fluid" alt="Superman"/>"
</div>
